.text {
	FONT-SIZE: 12px; LINE-HEIGHT: 15pt; FONT-FAMILY: "ו"
}
BODY {
	FONT-SIZE: 12px; LINE-HEIGHT: 15pt; FONT-FAMILY: "Verdana", "Arial", "Helvetica", "sans-serif"
}

A:link {
	COLOR: #000000; TEXT-DECORATION: none
}
A:visited {
	COLOR: #000000; TEXT-DECORATION: none
}
A:active {
	TEXT-DECORATION: none
}
A:hover {
	COLOR: #ff0000; TEXT-DECORATION: underline
}
